@import '~antd/dist/antd.css';

html,
body {
  width: 100%;
  height: 100%;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
input,
textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

#root,
.App {
  height: 100%;
}
